body{
    font-family: 'Caprasimo', cursive;
    font-family: 'Noto Serif', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Tsukimi Rounded', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background-color: #252B48;
}
.input1{
    width: 100%;
}
.AddButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.status1{
    width: 100%;
}
.drop-down{
    width: 100%;
}
.submit{
    margin-top: 10px;
}